<template>
  <fragment>
    <mixed v-if="type === 'mixed'" :home="home" />
    <basic v-if="type === 'basic'" />
    <hamburger v-if="type === 'hamburger'" />
    <nav-scroll v-if="type === 'navscroll'" :home="home" />
  </fragment>
</template>

<script>
import Mixed from './Mixed'
import Basic from './Basic'
import Hamburger from './Hamburger'
import NavScroll from './NavScroll'

export default {
  components: {
    Mixed,
    Basic,
    Hamburger,
    NavScroll,
  },
  props: {
    home: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    type() {
      return this.$store.state.ui.headerLanding
    }
  }
}
</script>
