.ocean-var {
  --v-anchor-base: #2196f3;
  --v-primarylight-base: #bbdefb;
  --v-primary-base: #2196f3;
  --v-primarydark-base: #0d47a1;
  --v-secondarylight-base: #b2ebf2;
  --v-secondary-base: #00bcd4;
  --v-secondarydark-base: #006064;
  --v-accent-base: #651FFF;
  --v-accentlight-base: #EDE7F6;
  --v-accentdark-base: #4527A0;
}

.cloud-var {
  --v-anchor-base: #03A9F4;
  --v-primarylight-base: #B3E5FC;
  --v-primary-base: #03A9F4;
  --v-primarydark-base: #01579B;
  --v-secondarylight-base: #FFE0B2;
  --v-secondary-base: #FF9800;
  --v-secondarydark-base: #E65100;
  --v-accent-base: #304FFE;
  --v-accentlight-base: #C5CAE9;
  --v-accentdark-base: #1A237E;
}

.money-var {
  --v-anchor-base: #4CAF50;
  --v-primarylight-base: #C8E6C9;
  --v-primary-base: #4CAF50;
  --v-primarydark-base: #2E7D32;
  --v-secondarylight-base: #FFECB3;
  --v-secondary-base: #FFA000;
  --v-secondarydark-base: #FF6F00;
  --v-accent-base: #2196F3;
  --v-accentlight-base: #BBDEFB;
  --v-accentdark-base: #0D47A1;
}
