<template>
  <v-card class="root" :class="[noMargin && 'no-margin', colorMode && 'color-mode']">
    <div class="desc-block">
      <span class="icon-title">
        <v-icon>mdi-{{ icon }}</v-icon>
      </span>
      <div class="title-text">
        <h2 class="title-paper">{{ title }}</h2>
        <p v-if="desc !== ''">{{ desc }}</p>
      </div>
    </div>
    <section class="content" :class="[whiteBg && 'white-bg', overflowX && 'overflow-x']">
      <slot />
    </section>
  </v-card>
</template>

<style lang="scss" scoped>
@import './paper-style.scss';
</style>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    desc: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: 'monitor-dashboard',
    },
    noMargin: {
      type: Boolean,
      default: false,
    },
    whiteBg: {
      type: Boolean,
      default: false,
    },
    colorMode: {
      type: Boolean,
      default: false,
    },
    overflowX: {
      type: Boolean,
      default: false,
    },
  }
};
</script>
