.root{
  padding-top: $spacing3;
  padding-bottom: $spacing3;
  margin-bottom: $spacing3;
  @include shade;
  @include palette-text-primary;
  @include padding-left($spacing2);
  @include padding-right($spacing2);
  @include breakpoints-up('sm') {
    padding-left: $spacing3;
    padding-right: $spacing3;
  }
  &.no-margin {
    margin: 0
  }
}

.desc-block {
  display: flex;
  align-items: center;
  margin-bottom: $spacing5;
  @include breakpoints-down('sm') {
    margin-bottom: $spacing3;
  }
};

.title-text {
  flex: 1;
  p {
    margin: 0
  }
}

.title-paper {
  position: relative;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: $font-bold;
  @include use-theme(color, $palette-primary-dark, $palette-primary-main);
  @include breakpoints-down('xs') {
    text-align: center;
    font-weight: $font-regular;
    margin-bottom: $spacing1
  }
}

.description {
  max-width: 960px;
  padding-top: 4px;
  @include breakpoints-down('xs') {
    text-align: center
  }
}

.content {
  margin-top: $spacing2;
  padding: $spacing1;
  border-radius: $rounded-medium;
  @include palette-background-default;
  min-height: 250px;
  @include breakpoints-up('lg') {
    padding: $spacing2
  }
}

.white-bg {
  background-color: transparent;
  margin: 0;
  padding: 0
}

.color-mode {
  @include use-theme(background-color, $palette-primary-main, $palette-primary-dark);
  .title-paper {
    color: $palette-common-white;
  }
  .description {
    color: $palette-common-white;
  }
}

.overflow-x {
  width: 100%;
  overflowX: auto
}

.icon-title {
  border-radius: $rounded-small;
  box-shadow: 0 2px 15px -5px $palette-primary-main;
  @include use-theme(background, $palette-primary-light, $palette-primary-main);
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  @include margin-right($spacing3);
  @include breakpoints-down('xs') {
    display: none
  }
  i {
    font-size: 28px;
    vertical-align: baseline;
    @include use-theme(color, $palette-primary-main, $palette-common-white);
  }
}