<template>
  <div class="error-wrap-inner">
    <h1 class="title-error">{{ title }}</h1>
    <h5 class="use-text-subtitle2">{{ desc }}</h5>
    <v-btn
      class="button mt-3"
      color="primary"
      :href="link.home"
    >
      Go To Dashboard
    </v-btn>
  </div>
</template>

<style lang="scss" scoped>
@import './error-style.scss';
</style>

<script>
import link from '~/api/text/link';

export default {
  data() {
    return {
      link: link
    }
  },
  props: {
    title: {
      type: String,
      default: '404'
    },
    desc: {
      type: String,
      default: ''
    }
  }
}
</script>