<template>
  <v-menu
    v-model="open"
    :close-on-content-click="closeOnContentClick"
    transition="slide-y-transition"
    offset-y
    nudge-top="-6"
    bottom
    class="menu-setting"
  >
    <template #activator="{ on }">
      <div class="setting">
        <v-btn
          fab
          text
          small
          v-on="on"
          class="ma-1"
        >
          <v-icon
            :class="{ invert: invert, active: open }"
            class="icon"
          >
            mdi-cog
          </v-icon>
        </v-btn>
      </div>
    </template>
    <div class="popover cloud-var">
      <v-list class="mode-menu">
        <v-subheader>{{ $t('$vuetify.common.header_theme') }}</v-subheader>
        <v-list-item>
          <v-list-item-content>
            <div class="flex-menu">
              <label>
                {{ $t('$vuetify.common.header_light') }}
              </label>
              <v-switch
                id="mode_switcher"
                v-model="dark"
                class="switch-toggle"
                color="primary"
                @change="setDark()"
                label=""
              />
              <label>
                {{ $t('$vuetify.common.header_dark') }}
              </label>
            </div>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider />
      <v-list class="lang-menu">
        <v-subheader>{{ $t('$vuetify.common.header_language') }}</v-subheader>
        <v-list-item
          v-for="([locale], index) in Object.entries(langList)"
          :key="index"
          class="lang-list"
          @click="switchLang(locale)"
        >
          <v-list-item-avatar class="flag">
            <i :class="locale" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="lang-opt">
              {{ $t('$vuetify.common.'+locale) }}
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-icon
              v-if="locale === curLang"
              color="primary"
            >
              mdi-check
            </v-icon>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </div>
  </v-menu>
</template>

<style lang="scss" scoped>
@import '../header-style.scss';
</style>

<script>
import i18n from '~/plugins/i18n';

function addReplaceLangCode(url, langCode) {
  const a = document.createElement('a');
  a.href = url;

  const paths = a.pathname.split('/');
  paths.shift();

  if (paths[0].length === 2) {
    paths[0] = langCode;
  } else {
    paths.unshift(langCode);
  }
  // eslint-disable-next-line
  return '/' + paths.join('/') + (a.search != '' ?  a.search : '') + (a.hash != '' ?  a.hash : '');
}

export default {
  data: () => ({
    rtl: false,
    open: false,
    closeOnContentClick: false,
  }),
  methods: {
    switchLang(locale) {
      const newRoute = addReplaceLangCode(this.currentRouteName, locale);
      this.open = false;

      this.$router.replace({ path: newRoute });
      i18n.locale = locale;

      // Set RTL
      if (locale === 'ar') {
        this.$vuetify.rtl = true;
        document.dir = 'rtl';
      } else {
        this.$vuetify.rtl = false;
        document.dir = 'ltr';
      }

      // Save language to local storage
      if (localStorage) {
        localStorage.setItem('currentLang', locale);
      }
    },
    setDark() {
      localStorage.setItem('webfoDarkMode', this.dark);
      this.$vuetify.theme.dark = this.dark;
    },
  },
  props: {
    invert: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    dark: {
      get() {
        return this.$store.state.ui.dark;
      },
      set() {
        this.$store.dispatch('setDark');
      },
    },
    langList() {
      return this.$vuetify.lang.locales;
    },
    currentRouteName() {
      return this.$route.path;
    },
    curLang() {
      return i18n.locale;
    },
  },
};
</script>
