.search-banner {
  height: 520px;
  display: flex;
  align-items: center;
  @include use-theme(background-color, $palette-primary-light, $palette-primary-dark);
}

.search {
  position: relative;
  display: flex;
  margin: $spacing4 auto;
  align-items: center;
  @include breakpoints-up(sm) {
    width: 600px;
  }
  :deep(fieldset) {
    height: 41px;
  }
  :deep(.v-text-field--outlined > .v-input__control > .v-input__slot) {
    @include padding-left($spacing5);
    min-height: 0;
    margin-bottom: 0;
    input {
      max-height: none;
    }
  }
  :deep(.v-text-field__details) {
    display: none;
  }
  .search-icon {
    position: absolute;
    top: 7px;
    @include left($spacing1);
  }
}