<template>
  <div>
    <v-btn color="primary" elevation="2" @click="changeLocale('en')">EN</v-btn>
    &nbsp;
    <v-btn color="secondary" elevation="2" @click="changeLocale('id')">ID</v-btn>
  </div>
</template>

<script>
import i18n from '~/plugins/i18n';

function addReplaceLangCode(url, langCode) {
  const a = document.createElement('a');
  a.href = url;

  const paths = a.pathname.split('/');
  paths.shift();

  if (paths[0].length === 2) {
    paths[0] = langCode;
  } else {
    paths.unshift(langCode);
  }
  // eslint-disable-next-line
  return '/' + paths.join('/') + (a.search != '' ?  a.search : '') + (a.hash != '' ?  a.hash : '');
}

export default {
  name: 'Setting',
  methods: {
    changeLocale(locale) {
      console.log(this.currentRouteName);
      const newRoute = addReplaceLangCode(this.currentRouteName, locale);
      this.$router.replace({ path: newRoute });
      i18n.locale = locale;

      // Save language to local storage
      if (localStorage) {
        localStorage.setItem('currentLang', locale);
      }
    },
  },
  computed: {
    currentRouteName() {
      return this.$route.path;
    },
  },
};
</script>
