<template>
  <v-btn
    :color="context.slotProps.component.color"
    :type="context.slotProps.component.btnType || 'button'"
  >
    {{ context.slotProps.component.mlabel }}
  </v-btn>
</template>

<script>
export default {
  props: {
    context: {
      type: Object,
      required: true
    },
  },
}
</script>