<template>
  <v-checkbox
    v-model="context.model"
    hide-details
    :label="context.slotProps.component.mlabel"
  />
</template>

<script>
export default {
  props: {
    context: {
      type: Object,
      required: true
    },
  },
  computed: {
    model () {
      return this.context.model
    },
  },
}
</script>
