<template>
  <v-radio-group v-model="context.model">
    <v-radio
      v-for="(item, index) in context.options"
      :key="index.toString()"
      hide-details
      :label="item.label"
      :value="item.value"
    />
  </v-radio-group>
</template>

<script>
export default {
  props: {
    context: {
      type: Object,
      required: true
    },
  },
  computed: {
    model () {
      return this.context.model
    },
  },
}
</script>