<template>
  <div class="formulate-input" data-classification="text" data-type="text" data-has-errors="true" data-is-showing-errors="true">
    <div class="formulate-input-wrapper">
      <div data-type="text" class="formulate-input-element formulate-input-element--text">
        <v-textarea
          :label="context.slotProps.component.mlabel"
          hide-details
          v-model="context.model"
          v-bind="context.attributes"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    context: {
      type: Object,
      required: true
    },
  },
  computed: {
    model () {
      return this.context.model
    },
  },
}
</script>