<template>
  <span :class="[type, size]" class="logo">
    <img :src="logo" alt="logo" />
    {{ type !== 'only' ? brand.name : '' }}
  </span>
</template>

<style scoped lang="scss">
@import './logo-style.scss';
</style>

<script>
import logo from '~/assets/images/logo.svg';
import brand from '~/api/text/brand';

export default {
  data() {
    return {
      brand,
      logo,
    };
  },
  props: {
    type: {
      type: String,
      default: 'only',
    },
    size: {
      type: String,
      default: 'medium',
    },
  },
};
</script>
