.logo {
  font-size: 26px;
  font-weight: $font-bold;
  @include palette-text-primary;
  display: flex;
  img {
    transition: transform ease-out 0.3s;
    width: 54px;
    height: 54px;
  }
}

.landscape {
  align-items: center;
  position: relative;
  top: -2px;
  img {
    @include margin-right($spacing1)
  }
}

.portrait {
  display: block;
  margin: 0 auto 8px;
  img {
    margin: 0 auto $spacing1;
    display: block;
  }
}

.small {
  font-size: 16px;
  img {
    max-width: 34px;
    height: 34px;
    @include breakpoints-down('xs') {
      max-width: 34px;
      height: 34px;
    }
  }
}

.medium {
  font-size: 22px;
  img {
    max-width: 54px;
    height: 54px;
  }
}

.large{
  font-size: 28px;
  img {
    max-width: 64px;
    height: 64px;
  }
}