<template>
  <div class="page-wrap">
    <v-snackbar
      :timeout="4000"
      top
      right
      v-model="snackbar"
      class="notification"
    >
      <div class="action">
        Message Sent
      </div>
      <v-btn
        text
        icon
        @click="snackbar = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
    <v-container class="inner-wrap">
      <v-row align="center">
        <v-col md="6" cols="12" class="pe-md-0 wrap-deco">
          <v-card :class="{ 'map-form': full }" class="form-box">
            <div class="form">
              <div class="text-center">
                <h4 class="use-text-title2 mb-3">
                  {{ $t('$vuetify.common.contact_title2') }}
                </h4>
                <p>Aenean sit amet magna vel magna fringilla fermentum. Donec sit amet nulla sed arcu pulvinar ultricies commodo id ligula.</p>
              </div>
              <v-form
                ref="form"
                v-model="valid"
              >
                <v-row class="spacing6">
                  <v-col cols="12" sm="12" class="px-6">
                    <v-text-field
                      v-model="name"
                      :rules="nameRules"
                      :label="$t('$vuetify.common.form_name')"
                      required
                    />
                  </v-col>
                  <v-col cols="12" sm="12" class="px-6">
                    <v-text-field
                      v-model="email"
                      :rules="emailRules"
                      :label="$t('$vuetify.common.form_email')"
                      required
                    />
                  </v-col>
                  <v-col cols="12" sm="12" class="px-6">
                    <v-text-field
                      v-model="phone"
                      :label="$t('$vuetify.common.form_phone')"
                    />
                  </v-col>
                  <v-col cols="12" class="px-6">
                    <v-textarea
                      v-model="message"
                      rows="6"
                      :label="$t('$vuetify.common.form_message')"
                    />
                  </v-col>
                </v-row>
                <div class="form-control-label">
                  <v-checkbox
                    v-model="checkbox"
                    color="secondary"
                    :rules="[v => !!v || 'You must agree to continue!']"
                    :label="$t('$vuetify.common.form_terms')"
                    required
                  />
                  <span>
                    <a href="#" class="link">
                      {{ $t('$vuetify.common.form_privacy') }}
                    </a>
                  </span>
                </div>
                <div class="btn-area">
                  <v-btn
                    large
                    block
                    color="primary"
                    @click="validate"
                  >
                    {{ $t('$vuetify.common.form_send') }}
                  </v-btn>
                </div>
              </v-form>
            </div>
          </v-card>
        </v-col>
        <v-col md="6" cols="12" class="ps-md-0">
          <v-card :class="{ full: full }" class="map" raised>
            <gmap-map :center="center" :zoom="15">
              <gmap-info-window
                :options="infoOptions"
                :position="infoWindowPos"
                :opened="infoWinOpen"
                @closeclick="infoWinOpen=false"
              >
                <div v-html="infoContent"></div>
              </gmap-info-window>
              <gmap-marker
                :key="i" v-for="(m,i) in markers"
                :position="m.position"
                :clickable="true"
                @click="toggleInfoWindow(m,i)"
              />
            </gmap-map>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
@import './form-style.scss';
</style>

<script>
export default {
  data: () => ({
    center: {
      lat: 47.376332,
      lng: 8.547511
    },
    infoWindowPos: null,
    infoWinOpen: false,
    currentMidx: null,
    infoOptions: {
      content: '',
      //optional: offset infowindow so it visually sits nicely on top of our marker
      pixelOffset: {
        width: 0,
        height: -35
      }
    },
    markers: [
      {
        position: {
          lat: 47.376332,
          lng: 8.547511
        },
      },
    ],
    valid: true,
    snackbar: false,
    name: '',
    nameRules: [v => !!v || 'Name is required'],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ],
    phone: '',
    company: '',
    message: '',
    checkbox: false
  }),
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position;
      this.infoOptions.content = this.getInfoWindowContent();

      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },
    getInfoWindowContent: function () {
      return (
        `<div class="bubel">
          <h6 class="title pb-2 px-3">
            Head Quarter
          </h6>
          <div class="row ma-3">
            <div class="pa-0 col-sm-6 col-12">
              <p><i class="v-icon notranslate icon mdi mdi-phone theme--light"></i>
                +98 765 432 10
              </p>
            </div>
            <div class="pa-0 col-sm-6 col-12">
              <p><i class="v-icon notranslate icon mdi mdi-email theme--light"></i>
                hello@awrora.com
              </p>
            </div>
            <div class="pa-0 col-sm-12 col-12">
              <p><i class="v-icon notranslate icon mdi mdi-map-marker theme--light"></i>
                Lorem ipsum street Block C - Vestibullum Building
              </p>
            </div>
          </div>
        </div>`
      );
    },
  },
  props: {
    full: {
      type: Boolean,
      default: false
    }
  }
}
</script>
