<template>
  <div class="multi-menu">
    <template v-for="item in dataMenu">
      <!-- Multilevel Nav -->
      <v-menu
        v-if="item.child"
        :key="item.key"
        :open-on-hover="hover"
        offset-y
        class="wrap-menu button-item"
      >
        <template #activator="{ attrs, on }">
          <v-btn
            v-bind="attrs"
            :class="[{ active: isActive === item.key }, 'button-item']"
            v-on="on"
            text
            size="small"
          >
            {{ item.name }}
            <v-icon right>
              mdi-chevron-down
            </v-icon>
          </v-btn>
        </template>
        <v-list class="rounded-menu multi-menu-root">
          <!-- SubMenu -->
          <submenu
            v-for="subitem in item.child"
            :key="subitem.key"
            :menu-items="subitem"
          />
        </v-list>
      </v-menu>
      <!-- Single Nav -->
      <v-btn
        v-else
        :key="item.key"
        :href="item.link || '#'"
        text
      >
        {{ item.name }}
      </v-btn>
    </template>
  </div>
</template>

<style lang="scss" scoped>
@import '../header-style.scss';
</style>

<script>
// import Submenu from './SubMenuClick';
import Submenu from './SubMenuHover';

export default {
  components: {
    Submenu,
  },
  data() {
    return {
      hover: true,
    };
  },
  props: {
    dataMenu: {
      type: Array,
      required: true,
    },
  },
  computed: {
    isActive() {
      return this.$store.state.attr.category;
    },
  },
};
</script>
