<template>
  <div class="multi-menu">
    <template
      v-for="item in renderChild"
      v-if="!item.multilevel"
    >
      <!-- Multilevel Nav -->
      <v-menu
        :key="item.key"
        v-if="item.child"
        :open-on-hover="hover"
        :position-x="0"
        max-height="480"
        offset-y
        content-class="mega-menu-root"
        min-width="100%"
        nudge-left
        nudge-width
      >
        <template #activator="{ attrs, on }">
          <span
            class="button-item has-menu-cover"
            v-bind="attrs"
            v-on="on"
          >
            <v-btn :class="{ active: isActive === item.key }" text>
              {{ item.name }}
              <v-icon right>
                mdi-chevron-down
              </v-icon>
            </v-btn>
          </span>
        </template>
        <div class="mega-menu rounded-menu">
          <v-container class="max-md">
            <div class="massonry-container">
              <div
                v-for="group in item.group"
                v-if="group.title"
                :key="group.key"
                class="massonry-item"
              >
                <v-list>
                  <v-subheader
                    v-if="group.title"
                    class="title-mega"
                  >
                    {{ group.name }}
                  </v-subheader>
                  <v-list-item-group>
                    <v-list-item
                      v-for="subitem in group.child"
                      :key="subitem.key"
                      :to="subitem.link"
                      :class="subitem.root && rootLink(subitem.link)"
                    >
                      <v-list-item-content>
                        <v-list-item-title class="menu-list" v-text="subitem.name" />
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </div>
            </div>
          </v-container>
        </div>
      </v-menu>
      <!-- Single Nav -->
      <v-btn
        v-else
        :key="item.key"
        :href="item.linkParent"
        text
      >
        {{ item.name }}
      </v-btn>
    </template>
  </div>
</template>

<style lang="scss" scoped>
@import '../header-style.scss';
</style>

<script>
export default {
  data() {
    return {
      hover: false,
    };
  },
  props: {
    dataMenu: {
      type: Array,
      required: true,
    },
  },
  methods: {
    rootLink(link) {
      const fullPath = this.$route.path;
      if (fullPath !== link) {
        return 'root';
      }
      return '';
    },
  },
  computed: {
    isActive() {
      return this.$store.state.attr.category;
    },
    arrLimits() {
      return this.dataMenu.map((item) => {
        const limitArr = [];
        if (!item.child) {
          return [];
        }
        item.child.map((subitem, index) => {
          if (!subitem.title) {
            return [];
          }
          return limitArr.push(index);
        });
        return limitArr;
      });
    },
    renderChild() {
      return this.dataMenu.map((item, index) => {
        let limit = 0;
        const groupmenu = { group: [], ...item };
        if (!item.child) {
          return item;
        }
        item.child.map((subitem, subIndex) => {
          if (!subitem.title) {
            return false;
          }

          limit += 1;
          const getLimit = this.arrLimits[index][limit];

          return groupmenu.group.push({
            child: item.child.slice(subIndex + 1, getLimit),
            ...subitem,
          });
        });
        return groupmenu;
      });
    },
  },
};
</script>
