<template>
  <fragment>
    <template v-if="menuItems.title">
      <v-subheader
        v-text="menuItems.name"
        class="title-mega"
      />
    </template>
    <template v-else>
      <fragment>
        <div class="parent-hover" v-if="menuItems.child">
          <v-list-item link>
            <v-list-item-title
              v-text="menuItems.name"
              class="menu-list"
            />
            <v-list-item-action>
              <v-icon color="grey lighten-1" class="arrow-icon">mdi-chevron-right</v-icon>
            </v-list-item-action>
          </v-list-item>
          <v-list class="submenu-hover">
            <!-- SubMenu -->
            <v-card elevation="2">
              <submenu
                v-for="(subitem, index) in menuItems.child"
                :key="index"
                :menu-items="subitem"
              />
            </v-card>
          </v-list>
        </div>
        <v-list-item
          v-else
          :to="menuItems.link || '#'"
          :class="menuItems.root && rootLink(menuItems.link)"
          @click="handleClose()"
        >
          <v-list-item-title
            v-text="menuItems.name"
            class="menu-list"
          />
        </v-list-item>
      </fragment>
    </template>
  </fragment>
</template>

<style lang="scss" scoped>
@import '../header-style.scss';
</style>

<script>
export default {
  name: 'Submenu',
  data() {
    return {
      showMenu: false,
    };
  },
  props: {
    menuItems: {
      type: Object,
      required: true,
    },
  },
  methods: {
    handleClose() {
      this.showMenu = false;
    },
    rootLink(link) {
      const fullPath = this.$route.path;
      if (fullPath !== link) {
        return 'root';
      }
      return '';
    },
  },
};
</script>
