<template>
  <fragment>
    <template v-if="menuItems.title">
      <v-subheader
        v-text="menuItems.name"
        class="title-mega"
      />
    </template>
    <template v-else>
      <fragment>
        <v-menu
          v-if="menuItems.child"
          offset-x
          offset-y
          v-model="showMenu"
          class="dropdown-menu"
        >
          <template #activator="{ attrs, on }">
            <v-list-item
              v-bind="attrs"
              v-on="on"
            >
              <v-list-item-title
                v-text="menuItems.name"
                class="menu-list"
              />
              <v-list-item-action>
                <v-icon color="grey lighten-1" class="arrow-icon">mdi-chevron-right</v-icon>
              </v-list-item-action>
            </v-list-item>
          </template>
          <v-list class="rounded-menu multi-menu-root">
            <!-- SubMenu -->
            <submenu
              v-for="(subitem, index) in menuItems.child"
              :key="index"
              :menu-items="subitem"
            />
          </v-list>
        </v-menu>
        <v-list-item
          v-else
          :to="menuItems.link || '#'"
          :class="menuItems.root && rootLink(menuItems.link)"
          @click="handleClose()"
        >
          <v-list-item-title
            v-text="menuItems.name"
            class="menu-list"
          />
        </v-list-item>
      </fragment>
    </template>
    <span />
  </fragment>
</template>

<style lang="scss" scoped>
@import '../header-style.scss';
</style>

<script>
export default {
  name: 'Submenu',
  data() {
    return {
      showMenu: false,
    };
  },
  props: {
    menuItems: {
      type: Object,
      required: true,
    },
  },
  methods: {
    handleClose() {
      this.showMenu = false;
    },
    rootLink(link) {
      const fullPath = this.$route.path;
      if (fullPath !== link) {
        return 'root';
      }
      return '';
    },
  },
};
</script>
