<template>
  <!-- Notification -->
  <div class="user-menu mx-0">
    <v-menu
      close-on-content-click
      transition="slide-y-transition"
      nudge-top="-6"
      bottom
      left
    >
      <template #activator="{ on }">
        <div class="setting">
          <v-btn
            fab
            text
            small
            v-on="on"
            class="ma-1"
          >
            <v-badge
              color="primary"
              :content="notif.length"
            >
              <v-icon class="icon">
                mdi-bell
              </v-icon>
            </v-badge>
          </v-btn>
        </div>
      </template>
      <div class="popover user-setting cloud-var">
        <v-list subheader two-line>
          <template v-for="(item, index) in notif">
            <v-list-item :key="index" link>
              <v-list-item-avatar :color="item.color">
                <v-icon dark v-text="'mdi-' + item.icon" />
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-text="item.title"></v-list-item-title>
                <v-list-item-subtitle v-text="item.date"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider v-if="index < notif.length - 1" :key="'divider_'+index" />
          </template>
        </v-list>
      </div>
    </v-menu>
    <!-- Profile -->
    <v-menu
      close-on-content-click
      transition="slide-y-transition"
      nudge-top="-6"
      bottom
      left
    >
      <template #activator="{ on }">
        <div v-on="on">
          <v-avatar v-ripple>
             <v-img
              :src="user.avatar"
              :alt="user.name"
              class="avatar"
            />
          </v-avatar>
        </div>
      </template>
      <div class="popover cloud-var">
        <v-list subheader>
          <v-list-item link to="#">
            <v-list-item-title>My Profile</v-list-item-title>
          </v-list-item>
          <v-list-item link to="#">
            <v-list-item-title>My Task</v-list-item-title>
          </v-list-item>
          <v-list-item link to="#">
            <v-list-item-title>
              My Inbox
            </v-list-item-title>
            <v-list-item-icon>
              <v-badge inline color="primary" content="4" />
            </v-list-item-icon>
          </v-list-item>
          <v-divider />
          <v-list-item link to="/">
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Log Out</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
    </v-menu>
  </div>
</template>

<style lang="scss" scoped>
@import '../header-style.scss';
</style>

<script>
import dummy from '~/api/dummy/dummyContents';
import user from '~/api/user';

export default {
  data() {
    return {
      user,
      notif: [
        {
          icon: 'information',
          color: 'blue',
          title: dummy.text.subtitle,
          date: dummy.text.date,
        },
        {
          icon: 'check-circle',
          color: 'green',
          title: dummy.text.subtitle,
          date: dummy.text.date,
        },
        {
          icon: 'alert',
          color: 'amber',
          title: dummy.text.subtitle,
          date: dummy.text.date,
        },
        {
          icon: 'close-circle',
          color: 'red',
          title: dummy.text.subtitle,
          date: dummy.text.date,
        },
      ],
    };
  },
  computed: {
    isDesktop() {
      const { smUp } = this.$store.state.breakpoints;
      return smUp.indexOf(this.$mq) > -1;
    },
  },
};
</script>
