<template>
  <fragment>
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          icon
          v-bind="attrs"
          v-on="on"
          @click.stop="dialog = true"
        >
          <v-icon>mdi-help-circle-outline</v-icon>
        </v-btn>
      </template>
      <span>Show Guide</span>
    </v-tooltip>
    <v-dialog
      v-model="dialog"
      transition="dialog-bottom-transition"
      max-width="600"
    >
      <template v-slot:default="dialog">
        <v-card class="guide-slider">
          <v-carousel
            :continuous="false"
            :cycle="cycle"
            :show-arrows="false"
            hide-delimiters
            v-model="model"
            height="250"
          >
            <v-carousel-item
              v-for="(slide, i) in guideData"
              :key="i"
              :src="guideData[i].imgPath"
            />
          </v-carousel>
          <div class="text">
            <v-card-title>{{ guideData[model].title }}</v-card-title>
            <v-card-text>
              {{ guideData[model].label }}
            </v-card-text>
          </div>
          <v-card-actions class="justify-end mobile-stepper">
            <v-btn text :disabled="progress <= step" @click="handlePrev">
              <v-icon>mdi-chevron-left</v-icon>
              Previous
            </v-btn>
            <v-progress-linear :value="progress" class="mx-3"/>
            <v-btn v-if="progress < 100" text @click="handleNext">
              Next
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
            <v-btn v-else color="secondary" text @click="dialog.value = false">
              Done
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
  </fragment>
</template>

<style lang="scss" scoped>
@import './guide-style.scss';
</style>

<script>
import guideData from '~/api/dummy/guideData';

export default {
  data() {
    return {
      guideData,
      dialog: false,
      progress: 100 / guideData.length,
      model: 0,
      cycle: false,
    };
  },
  methods: {
    handlePrev() {
      if (this.progress > this.step) {
        this.model -= 1;
        this.progress -= this.step;
      }
    },
    handleNext() {
      if (this.progress <= 100) {
        this.model += 1;
        this.progress += this.step;
      }
    },
  },
  computed: {
    step() {
      return 100 / guideData.length;
    },
  },
};
</script>
