<template>
  <div class="about">
    <h1>This is an about page</h1>
    <h4>{{ $t('$vuetify.dataIterator.welcome-home') }}</h4>
    <setting />
  </div>
</template>

<script>
import Setting from '~/components/Setting';

export default {
  components: {
    Setting,
  },
};
</script>
