<template>
  <paper-block
    title="Blank Page"
    :desc="$t('$vuetify.common.subtitle')"
  >
    <h4>Content</h4>
  </paper-block>
</template>

<script>
import brand from '~/api/text/brand';
import PaperBlock from '~/components/PaperBlock';

export default {
  name: 'blank',
  metaInfo: {
    title: 'Blank Page',
    meta: [{
      name: 'description',
      content: brand.desc
    }],
  },
  components: {
    PaperBlock,
  },
  mounted() {
    this.$store.dispatch('setCategory', 'home');
    this.$store.dispatch('setTitle', 'Blank Page');
  },
};
</script>
