<template>
  <div class="space-top-short">
    <contact-form />
  </div>
</template>

<style scoped lang="scss">
@import '~/assets/scss/pages';
</style>

<script>
import ContactForm from '~/components/Landing/Forms/Contact'
import brand from '~/api/text/brand'
import link from '~/api/text/link';

export default {
  name: 'Contact',
  metaInfo: {
    title: brand.name + ' - Contact',
    meta: [{
      name: 'description',
      content: brand.desc,
    }, {
      property: 'og:title',
      content: brand.desc,
    }],
  },
  components: {
    ContactForm
  },
};
</script>
