<template>
  <div class="space-top">
    <contact-map-form />
  </div>
</template>

<style scoped lang="scss">
@import '~/assets/scss/pages';
</style>

<script>
import ContactMapForm from '~/components/Landing/Forms/ContactMap'
import brand from '~/api/text/brand'
import link from '~/api/text/link';

export default {
  name: 'ContactMap',
  metaInfo: {
    title: brand.name + ' - Contact with Map',
    meta: [{
      name: 'description',
      content: brand.desc,
    }, {
      property: 'og:title',
      content: brand.desc,
    }],
  },
  components: {
    ContactMapForm
  },
};
</script>
