<template>
  <div class="app" style="height: 1500px">
    <h1>dasbor {{ $store.state.ma.countA }}</h1>
    <h2>{{ $store.state.mb.countB }}</h2>
    <h3>
      {{ $t('$vuetify.dataIterator.welcome-home') }}
    </h3>
    <v-btn color="primary" @click="incrementA()">store plus A</v-btn>
    &nbsp;
    <v-btn color="secondary" @click="incrementB()">store plus B</v-btn>
  </div>
</template>

<script>
export default {
  name: 'dashboard',
  metaInfo: {
    title: 'Dasbor',
    meta: [{
      name: 'description',
      content: 'my standard description',
    }, {
      property: 'og:title',
      content: 'Test title',
    }],
  },
  mounted() {
    this.$store.dispatch('setCategory', 'home');
    this.$store.dispatch('setTitle', 'Dashboard');
  },
  methods: {
    incrementA() {
      this.$store.dispatch('incrementA');
      console.log(this.$store.state.ma.countA);
    },
    incrementB() {
      this.$store.dispatch('incrementB', 10);
      console.log(this.$store.state.mb.countB);
    },
  },
};
</script>
