<template>
  <div>
    <paper-block
      :title="$t('$vuetify.common.title')"
      :desc="$t('$vuetify.common.subtitle')"
      icon="chart-bar"
    >
      <chart-widget />
    </paper-block>
    <paper-block
      title="Table"
      desc="UI Table when no data to be shown"
      icon="table"
    >
      <table-widget />
    </paper-block>
  </div>
</template>

<script>
import brand from '~/api/text/brand';
import PaperBlock from '~/components/PaperBlock';
import TableWidget from '~/components/Widgets/Tables/Basic';
import ChartWidget from '~/components/Widgets/Charts/Analytic';

export default {
  name: 'dashboard',
  metaInfo: {
    title: 'Dasboard',
    meta: [{
      name: 'description',
      content: brand.desc
    }],
  },
  components: {
    PaperBlock,
    ChartWidget,
    TableWidget
  },
  mounted() {
    this.$store.dispatch('setCategory', 'home');
    this.$store.dispatch('setTitle', 'Dashboard');
  },
  methods: {
    incrementA() {
      this.$store.dispatch('incrementA');
      console.log(this.$store.state.ma.countA);
    },
    incrementB() {
      this.$store.dispatch('incrementB', 10);
      console.log(this.$store.state.mb.countB);
    },
  },
};
</script>
