<template>
  <div class="container-wrap">
    <search v-model="keyword" />
    <v-container class="max-md space-top-short">
      <v-row>
        <v-col class="px-6" md="8">
          <faq-list />
        </v-col>
        <v-col class="px-6" md="4">
          <div class="space-bottom-short">
            <topic-list />
          </div>
          <div class="space-bottom-short">
            <help-widget />
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped lang="scss">
@import '~/assets/scss/pages';
</style>

<script>
import brand from '~/api/text/brand'
import Search from '~/components/Landing/Filter/Search'
import FaqList from '~/components/Landing/Faq/FaqList'
import TopicList from '~/components/Landing/Faq/TopicList'
import HelpWidget from '~/components/Landing/List/Sidebar/HelpWidget'

export default {
  components: {
    Search,
    FaqList,
    TopicList,
    HelpWidget
  },
  data() {
    return {
      keyword: ''
    }
  },
  metaInfo: {
    title: brand.name + ' - Faq',
    meta: [{
      name: 'description',
      content: brand.desc
    }, {
      property: 'og:title',
      content: 'Test title',
    }],
  },
}
</script>
