<template>
  <div>
    <paper-block
      title="Form"
      :desc="$t('$vuetify.common.subtitle')"
      icon="pencil-box"
    >
      <formulate />
    </paper-block>
  </div>
</template>

<script>
import brand from '~/api/text/brand';
import PaperBlock from '~/components/PaperBlock';
import Formulate from '~/components/Forms/Formulate';

export default {
  name: 'dashboard',
  metaInfo: {
    title: 'Tables',
    meta: [{
      name: 'description',
      content: brand.desc
    }],
  },
  components: {
    PaperBlock,
    Formulate,
  },
  mounted() {
    this.$store.dispatch('setCategory', 'home');
    this.$store.dispatch('setTitle', 'Form');
  },
  methods: {
    incrementA() {
      this.$store.dispatch('incrementA');
      console.log(this.$store.state.ma.countA);
    },
    incrementB() {
      this.$store.dispatch('incrementB', 10);
      console.log(this.$store.state.mb.countB);
    },
  },
};
</script>
