<template>
  <div class="main-wrap">
    <div class="container-wrap">
      <div id="home">
        <banner-slider />
      </div>
      <div
        id="feature"
        class="space-top space-bottom"
      >
        <v-container>
          <feature />
        </v-container>
      </div>
      <div
        class="page-section"
      >
        <counter dark />
      </div>
      <div
        id="testimonials"
        class="space-top"
      >
        <Testimonials />
      </div>
      <div
        id="pricing"
        class="space-top"
      >
        <pricing />
      </div>
      <div
        id="blog"
        class="space-top space-bottom"
      >
        <blog />
      </div>
      <div id="subscribe">
        <subscribe />
      </div>
    </div>
    <hidden point="smDown">
      <corner />
    </hidden>
    <hidden point="mdDown">
      <notification />
    </hidden>
  </div>
</template>

<style scoped lang="scss">
@import '~/assets/scss/pages';
</style>

<script>
import Hidden from '~/components/Landing/Hidden'
import BannerSlider from '~/components/Landing/BannerSlider'
import Feature from '~/components/Landing/Feature'
import Counter from '~/components/Landing/Counter'
import Testimonials from '~/components/Landing/Testimonials'
import Pricing from '~/components/Landing/Pricing'
import Blog from '~/components/Landing/Blog'
import Subscribe from '~/components/Landing/Subscribe'
import Corner from '~/components/Landing/Corner'
import Notification from '~/components/Landing/Notification'
import brand from '~/api/text/brand'

export default {
  name: 'Home',
  metaInfo: {
    title: brand.name + ' - Home Page',
    meta: [{
      name: 'description',
      content: brand.desc
    }, {
      property: 'og:title',
      content: 'Test title',
    }],
  },
  components: {
    BannerSlider,
    Hidden,
    Feature,
    Counter,
    Testimonials,
    Pricing,
    Blog,
    Subscribe,
    Corner,
    Notification,
  },
};
</script>
