<template>
  <div class="space-top">
    <login-form />
  </div>
</template>

<style scoped lang="scss">
@import '~/assets/scss/pages';
</style>

<script>
import LoginForm from '~/components/Landing/Forms/Login'
import brand from '~/api/text/brand'
import link from '~/api/text/link';

export default {
  name: 'Login',
  metaInfo: {
    title: brand.name + ' - Login',
    meta: [{
      name: 'description',
      content: brand.desc,
    }, {
      property: 'og:title',
      content: brand.desc,
    }],
  },
  components: {
    LoginForm
  },
  created() {
    this.$emit('childinit', { text: 'register', href: link.register });
  }
};
</script>
