<template>
  <ErrorInner
    title="404"
    :desc="$t('$vuetify.common.404')"
  />
</template>

<script>
import brand from '~/api/text/brand'
import ErrorInner from '../components/Error/ErrorInner'

export default {
  name: 'NotFound',
  metaInfo: {
    title: brand.name + ' - Page Not Found',
    meta: [{
      name: 'description',
      content: brand.desc
    }, {
      property: 'og:title',
      content: brand.desc,
    }],
  },
  components: {
    ErrorInner
  },
};
</script>
