<template>
  <div>
    <main-header />
    <Error
      err-code="404"
      :text="$t('$vuetify.common.404')"
    />
    <main-footer />
  </div>
</template>

<script>
import brand from '~/api/text/brand'
import Header from '~/components/Landing/Header'
import Footer from '~/components/Landing/Footer'
import Error from '../components/Error'

export default {
  name: 'NotFound',
  metaInfo: {
    title: brand.name + ' - Page Not Found',
    meta: [{
      name: 'description',
      content: brand.desc
    }, {
      property: 'og:title',
      content: brand.desc,
    }],
  },
  components: {
    'main-header': Header,
    'main-footer': Footer,
    Error
  },
};
</script>
