<template>
  <div>
    <div class="space-top">
      <pricing />
    </div>
    <div class="space-top-short">
      <faq />
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~/assets/scss/pages';
</style>

<script>
import brand from '~/api/text/brand'
import Pricing from '~/components/Landing/Pricing'
import Faq from '~/components/Landing/Faq'

export default {
  components: {
    Pricing,
    Faq
  },
  metaInfo: {
    title: brand.name + ' - Pricing',
    meta: [{
      name: 'description',
      content: brand.desc
    }, {
      property: 'og:title',
      content: 'Test title',
    }],
  },
}
</script>
