<template>
  <div class="space-top">
    <register-form />
  </div>
</template>

<style scoped lang="scss">
@import '~/assets/scss/pages';
</style>

<script>
import RegisterForm from '~/components/Landing/Forms/Register'
import brand from '~/api/text/brand'
import link from '~/api/text/link';

export default {
  name: 'Register',
  metaInfo: {
    title: brand.name + ' - Register',
    meta: [{
      name: 'description',
      content: brand.desc,
    }, {
      property: 'og:title',
      content: brand.desc,
    }],
  },
  components: {
    RegisterForm
  },
  created() {
    this.$emit('childinit', { text: 'login', href: link.login });
  }
};
</script>
