<template>
  <v-container class="max-md">
    <div class="space-top-short">
      <v-row align="center">
        <v-col md="12" class="text-center">
          <div class="logo d-flex justify-center align-center mb-10">
            <img
              :src="logo"
              alt="logo"
              width="64"
            />
            <h2 class="ps-3 use-text-subtitle">
              {{ brand.name }}
            </h2>
          </div>
          <div class="text-center">
            <div class="form" :class="{ 'mb-15': isDesktop}">
              <v-row justify="center">
                <v-col sm="6" cols="12">
                  <v-sheet elevation="5" class="pa-4" rounded>
                    <h3 class="use-text-title2">
                      Reset Password
                    </h3>
                    <h5 class="use-text-subtitle2" :class="{ 'mb-10': isDesktop}">
                      Send reset password link to Your email
                    </h5>
                    <v-text-field :label="$t('$vuetify.common.form_email')">
                      <template v-if="isDesktop" #append>
                        <v-btn color="primary" class="mb-2">
                          Send Reset Link
                        </v-btn>
                      </template>
                    </v-text-field>
                    <v-btn v-if="!isDesktop" color="primary" class="mb-2">
                      Send Reset Link
                    </v-btn>
                  </v-sheet>
                </v-col>
              </v-row>
            </div>
          </div>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<style scoped lang="scss">
@import '~/assets/scss/pages.scss';
</style>

<script>
import logo from '~/assets/images/logo.svg';
import brand from '~/api/text/brand';
import link from '~/api/text/link';

export default {
  data() {
    return {
      logo: logo,
      brand: brand
    }
  },
  metaInfo: {
    title: brand.name + ' - Reset Password',
    meta: [{
      name: 'description',
      content: brand.desc
    }, {
      property: 'og:title',
      content: 'Test title',
    }],
  },
  computed: {
    isDesktop() {
      const smUp = this.$store.state.breakpoints.smUp
      return smUp.indexOf(this.$mq) > -1
    }
  },
  created() {
    this.$emit('childinit', { text: 'login', href: link.login });
  }
}
</script>
