<template>
  <div>
    <paper-block
      title="Data Table"
      :desc="$t('$vuetify.common.subtitle')"
      icon="chart-bar"
    >
      <data-table />
    </paper-block>
    <paper-block
      title="Table"
      desc="UI Table when no data to be shown"
      icon="table"
    >
      <basic-table />
    </paper-block>
  </div>
</template>

<script>
import brand from '~/api/text/brand';
import PaperBlock from '~/components/PaperBlock';
import DataTable from '~/components/Tables/DataTable';
import BasicTable from '~/components/Tables/Basic';

export default {
  name: 'dashboard',
  metaInfo: {
    title: 'Tables',
    meta: [{
      name: 'description',
      content: brand.desc
    }],
  },
  components: {
    PaperBlock,
    DataTable,
    BasicTable
  },
  mounted() {
    this.$store.dispatch('setCategory', 'home');
    this.$store.dispatch('setTitle', 'Table');
  },
  methods: {
    incrementA() {
      this.$store.dispatch('incrementA');
      console.log(this.$store.state.ma.countA);
    },
    incrementB() {
      this.$store.dispatch('incrementB', 10);
      console.log(this.$store.state.mb.countB);
    },
  },
};
</script>
