<template>
  <div class="app">
    <h1>UI Collection</h1>
  </div>
</template>

<script>
export default {
  name: 'uiview',
  metaInfo: {
    title: 'Ui View',
    meta: [{
      name: 'description',
      content: 'my standard description',
    }, {
      property: 'og:title',
      content: 'Test title',
    }],
  },
  mounted() {
    this.$store.dispatch('setCategory', 'uiview');
  },
};
</script>
