<template>
  <div class="page-section">
    <v-row>
      <v-col class="px-6" sm="4" cols="12">
        <div class="feature-list">
          <v-icon color="primary" class="icon">mdi-anchor</v-icon>
          <h5 class="headline">
            Lorem ipsum dolor
          </h5>
          <p class="body-1">
            Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus.
          </p>
        </div>
      </v-col>
      <v-col class="px-6" sm="4" cols="12">
        <div class="feature-list">
          <v-icon color="primary" class="icon">mdi-tennis</v-icon>
          <h5 class="headline">
            Lorem ipsum dolor
          </h5>
          <p class="body-1">
            Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus.
          </p>
        </div>
      </v-col>
      <v-col class="px-6" sm="4" cols="12">
        <div class="feature-list">
          <v-icon color="primary" class="icon">mdi-gamepad-variant</v-icon>
          <h5 class="headline">
            Lorem ipsum dolor
          </h5>
          <p class="body-1">
            Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus.
          </p>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<style scoped lang="scss">
@import './feature-styles';
</style>
