<template>
  <v-list class="main-menu with-profile">
    <div v-for="item in dataMenu" :key="item.key">
      <v-list-group
        v-if="!item.single"
        v-model="$store.state.attr.category === item.key"
        :prepend-icon="'mdi-'+item.icon"
        no-action
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title v-text="item.name" />
          </v-list-item-content>
        </template>
        <v-list-item
          v-for="child in item.child"
          :key="child.key"
          :link="!child.name"
          :to="child.link && child.link"
          :class="child.root && rootLink(child.link)"
          class="item"
        >
          <v-subheader class="title" v-if="child.title" v-text="child.name" />
          <v-list-item-content v-else>
            <v-list-item-title v-if="!child.child" v-text="child.name" />
            <sub-menu v-else :menu="child" />
          </v-list-item-content>
          <v-list-item-action v-if="child.badge">
            <v-chip v-text="child.badge" color="secondary" />
          </v-list-item-action>
        </v-list-item>
      </v-list-group>
      <v-list-item
        v-else
        :to="item.linkParent"
        :class="item.root && rootLink(item.linkParent)"
        link
      >
        <v-list-item-icon>
          <v-icon>{{ 'mdi-'+item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-title v-text="item.name" />
      </v-list-item>
    </div>
  </v-list>
</template>

<style lang="scss" scoped>
@import './sidebar-style.scss';
</style>

<script>
import menu from '~/api/menu';
import SubMenu from './SubMenu';

export default {
  components: {
    SubMenu,
  },
  data: () => ({
    dataMenu: menu,
  }),
  methods: {
    rootLink(link) {
      const fullPath = this.$route.path;
      if (fullPath !== link) {
        return 'root';
      }
      return '';
    },
  }
};
</script>
