.drawer {
  top: 0 !important;
  max-height: 100% !important;
  padding-top: $spacing5;
  &.mobile {
    @include palette-background-paper;
  }
  &.v-navigation-drawer {
    background: none;
  }
  :deep(.v-navigation-drawer__content) {
    overflow: hidden;
  }
  :deep(.v-navigation-drawer__border) {
    display: none;
  }
  :deep(.v-list-item) {
    overflow: hidden;
    border-radius: $rounded-small;
    padding-left: 0;
    padding-right: 0;
    .v-list-item__icon {
      @include margin-left($spacing1);
      @include margin-right($spacing2)
    }
  }
  &.v-navigation-drawer--open-on-hover{
    &:hover {
      @include shadow6;
      @include palette-background-paper;
      .profile {
        padding: spacing(0, 3)
      }
    }
    :deep(.v-list-item .v-list-item__icon) {
      @include margin-right($spacing1)
    }
    .menu-container {
      padding: spacing(0, 2, 0, 3);
    }
    .options {
      flex: 1;
    }
    .profile {
      flex-direction: row;
      .big-avatar {
        height: 40px;
        width: 40px;
      }
      .v-avatar {
        min-width: 0 !important;
        width: 40px !important;
        height: 40px !important;
      }
    }
    .btn-status {
      width: auto;
    }
    .drawer-header h4 {
      @include text-align(left);
      @include margin-left($spacing1);
    }
    .main-menu.with-profile {
      margin-top: $spacing12;
    }
  }
}

.drawer-inner {
  height: 100%;
  position: relative;
}

.drawer-header {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 0;
  .v-avatar {
    margin: 0;
    padding: 0;
  }
  h4 {
    font-size: 18px;
    margin: $spacing1 auto 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
    text-align: center;
  }
  button {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
    display: block;
    overflow: hidden;
    padding: 0;
    min-height: 20px;
    letter-spacing: 0px;
  }
}

.profile {
  min-height: 120px;
  width: 100%;
  display: flex;
  font-size: 14px;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  padding: spacing(4, 0, 2);
  z-index: 0;
  &:after {
    display: none
  }
}

.avatar {
  margin: 10px 12px;
}

.big-avatar {
  width: 80px;
  height: 80px;
}

.menu-container {
  padding: spacing(0, 2);
  position: relative;
  display: block;
  overflow: auto;
  height: 100%;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(0,0,0,0);
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,0.3);
      border: 1px solid rgba(255,255,255,0.4);
    }
  }
  &.landingNav {
    @include breakpoints-up('lg') {
      padding-top: $spacing5
    }
    @include breakpoints-down('lg') {
      height: calc(100% - 80px);
      padding-top: $spacing2;
    }
  }
}

.main-menu {
  padding-bottom: $spacing5;
  &.with-profile {
    margin-top: spacing(22);
  }
}

.title {
  padding: 0;
  font-size: 10px !important;
  text-transform: uppercase;
  margin-top: $spacing2 !important;
  display: block;
  color: $palette-secondary-main;
  line-height: 28px;
  height: auto;
  font-weight: bold
}

.btn-status {
  background-color: transparent!important;
  border-radius: 12px;
  text-transform: capitalize;
}

.status-menu {
  padding: 0;
  margin: 0;
  li {
    width: 100;
    text-transform: capitalize;
  }
}

.dot-status {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 4px;
  &.online {
    background-color: material-color('light-green', '500');
  }
  &.bussy {
    background-color: material-color('red', '500');
  }
  &.idle {
    background-color: material-color('amber', '500');
  }
  &.offline {
    background-color: material-color('grey', '500');
  }
}

.submenu {
  width: 100%;
  :deep(.v-list-group__items) {
    @include padding-left($spacing3);
  }
  :deep(.v-list-group__header) {
    padding: 0
  }
  :deep(.v-list-group__items .v-list-item) {
    @include padding-left(0 !important)
  }
  :deep(.v-list-group__items > .v-list-item) {
    @include padding-left(0 !important)
  }
  &-list {
    &:before {
      opacity: 0 !important;
    }
  }
}

.item {
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
  min-height: 0;
  @include palette-text-primary;
  .v-list-item__title {
    font-size: 14px;
  }
  &.v-list-item {
    @include padding-left($spacing5);
    .v-list-item__title {
      display: block;
    }
  }
  & > div:first-of-type {
    margin: spacing(0, 1);
    min-width: auto
  }
  &:before {
    opacity: 0
  }
  &.active:not(.root), &.v-list-item--active:not(.root) {
    .v-list-item__content {
      position: relative;
    }
    &:before {
      opacity: 0.4;
      @include use-theme(background-color, $palette-secondary-light, $palette-secondary-dark);
    }
    .icon {
      @include use-theme(color, $palette-secondary-dark, $palette-secondary-light);
    }
    .v-list-item__title {
      @include use-theme(color, $palette-secondary-main, $palette-secondary-light);
    }
    &:hover {
      @include use-theme(background-color, $palette-secondary-light, $palette-secondary-dark);
    }
    &:focus {
      @include use-theme(background-color, $palette-secondary-light, $palette-secondary-dark);
    }
  }
}
