<template>
  <fragment>
    <v-navigation-drawer
      v-if="isDesktop"
      :mini-variant="collapsed"
      :expand-on-hover="collapsed"
      :permanent="collapsed"
      :right="this.$vuetify.rtl"
      :mini-variant-width="80" 
      :width="240"
      class="drawer"
      clipped
      fixed
      app
    >
      <sidebar-content :user-attr="userAttr" />
    </v-navigation-drawer>
    <v-navigation-drawer
      v-else
      :right="this.$vuetify.rtl"
      @transitionend="toggleOpen"
      v-model="open"
      temporary
      class="drawer mobile"
      absolute
    >
      <sidebar-content :user-attr="userAttr" />
    </v-navigation-drawer>
  </fragment>
</template>

<style lang="scss" scoped>
@import './sidebar-style.scss'
</style>

<script>
import SidebarContent from './SidebarContent';

export default {
  name: 'SidebarList',
  components: {
    SidebarContent,
  },
  data() {
    return {
      openLocal: false
    }
  },
  methods: {
    toggleOpen(e) {
      const overlay = document.getElementsByClassName('v-overlay--active');
      if(overlay.length <= 0) {
        this.$store.dispatch('setExpanded', true);
      }
    }
  },
  computed: {
    isDesktop() {
      const lgUp = this.$store.state.breakpoints.lgUp;
      return lgUp.indexOf(this.$mq) > -1;
    },
    open: {
      get: function () {
        return this.collapsed;
      },
      set: function () {}
    },
  },
  props: {
    collapsed: {
      type: Boolean,
      required: true,
    },
    userAttr: {
      type: Object,
      default: null,
    },
  },
};
</script>
