<template>
  <div class="drawer-inner">
    <v-list class="drawer-header">
      <v-list-item
        class="profile"
        :style="{ opacity: 1 - (this.transform / 80), marginTop: this.transform * -0.3 + 'px' }"
      >
        <v-list-item-avatar size="80">
          <v-img
            :src="userAttr.avatar"
            :alt="userAttr.name"
            class="avatar big-avatar"
          />
        </v-list-item-avatar>
        <div class="options">
          <h4>{{ userAttr.name }}</h4>
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                small
                v-bind="attrs"
                elevation="0"
                v-on="on"
                class="btn-status"
              >
                <i :class="['dot-status', currentStatus]" />
                {{ currentStatus }}
              </v-btn>
            </template>
            <v-list tag="ul" class="status-menu">
              <v-list-item
                v-for="(item, index) in statusList"
                :key="index"
                @click="changeStatus(item)"
                tag="li"
              >
                <v-list-item-title>
                  <i :class="['dot-status', item]" />
                  {{ item }}
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </v-list-item>
    </v-list>
    <div id="sidebar" @scroll.passive="(e) => handleScroll(e)" class="menu-container">
      <main-menu />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import './sidebar-style.scss';
</style>

<script>
import Menu from './Menu';

export default {
  components: {
    'main-menu': Menu,
  },
  data() {
    return {
      transform: 0,
      currentStatus: this.userAttr.status,
      statusList: ['online', 'idle', 'bussy', 'offline'],
    };
  },
  methods: {
    handleScroll(evt) {
      this.transform = evt.target.scrollTop;
    },
    changeStatus(status) {
      this.currentStatus = status;
    },
  },
  props: {
    userAttr: {
      type: Object,
      default: null,
    },
  },
};
</script>
