<template>
  <v-list-group class="submenu" no-action sub-group>
    <template v-slot:activator>
      <v-list-item-content class="submenu-title">
        <v-list-item-title v-text="menu.name" />
      </v-list-item-content>
    </template>
    <v-list-item
      v-for="childItem in menu.child"
      :key="childItem.key"
      :to="childItem.link"
      :class="{ 'submenu-list': childItem.child }"
      link
    >
      <v-list-item-title v-if="!childItem.child" v-text="childItem.name" />
      <sub-menu v-else :menu="childItem" />
    </v-list-item>
  </v-list-group>
</template>

<style lang="scss" scoped>
@import './sidebar-style.scss';
</style>

<script>
export default {
  name: 'SubMenu',
  props: {
    menu: {
      type: Object,
      required: true,
    },
  },
};
</script>
