<template>
  <fragment>
    <v-app-bar
      v-scroll="handleScroll"
      :class="{ fixed: fixed }"
      class="header"
      clipped-left
      fixed
      app
    >
      <div class="header-content">
        <v-app-bar-nav-icon @click="expandMenu" />
        <nav class="nav-menu">
          <div class="logo start-mobile">
            <a :href="link.home">
              <logo type="landscape" size="small" />
            </a>
          </div>
          <div class="header-properties">
            <div :class="['header-action', showTitle && 'fade-out']">
              <v-tooltip v-if="fullScreen" bottomv-else >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    @click="closeFullScreen"
                    icon
                  >
                    <v-icon>mdi-fullscreen-exit</v-icon>
                  </v-btn>
                </template>
                <span>Exit Full Screen</span>
              </v-tooltip>
              <v-tooltip v-else bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    @click="openFullScreen"
                    icon
                  >
                    <v-icon>mdi-fullscreen</v-icon>
                  </v-btn>
                </template>
                <span>Full Screen</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    @click="setDark"
                    icon
                  >
                    <v-icon>mdi-invert-colors</v-icon>
                  </v-btn>
                </template>5
                <span>Turn Dark/Light</span>
              </v-tooltip>
              <guide-slider />
            </div>
            <h2 :class="['header-title', showTitle && 'show']">
              {{ title }}
            </h2>
          </div>
        </nav>
        <search-field />
        <nav>
          <v-spacer
            v-if="isDesktop"
            class="vertical-divider"
          />
          <user-menu />
          <setting-menu />
        </nav>
      </div>
    </v-app-bar>
  </fragment>
</template>

<style lang="scss" scoped>
@import './header-style.scss';
</style>

<script>
import link from '~/api/text/link';
import SearchField from '../Search';
import Logo from '../Logo';
import Settings from './Menu/Settings';
import UserMenu from './Menu/UserMenu';
import GuideSlider from '../GuideSlider';

const elem = document.documentElement;

export default {
  components: {
    SearchField,
    UserMenu,
    'setting-menu': Settings,
    GuideSlider,
    Logo,
  },
  data() {
    return {
      showTitle: false,
      link,
      fixed: false,
      loaded: false,
      fullScreen: false,
    };
  },
  mounted() {
    this.loaded = true;
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 100) {
        this.fixed = true;
        this.showTitle = true;
      } else {
        this.fixed = false;
        this.showTitle = false;
      }
    },
    setDark() {
      this.$store.dispatch('setDark');
      setTimeout(() => {
        localStorage.setItem('webfoDarkMode', this.dark);
        this.$vuetify.theme.dark = this.dark;
      }, 10);
    },
    openFullScreen() {
      this.fullScreen = true;
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.mozRequestFullScreen) {
        /* Firefox */
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) {
        /* Chrome, Safari & Opera */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) {
        /* IE/Edge */
        elem.msRequestFullscreen();
      }
    },
    closeFullScreen() {
      this.fullScreen = false;
      if (document.exitFullscreen) {
        document.exitFullscreen();
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if (document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
      } else if (document.msExitFullscreen) {
        document.msExitFullscreen();
      }
    },
  },
  computed: {
    isTablet() {
      const { mdDown } = this.$store.state.breakpoints;
      return mdDown.indexOf(this.$mq) > -1;
    },
    isDesktop() {
      const { lgUp } = this.$store.state.breakpoints;
      return lgUp.indexOf(this.$mq) > -1;
    },
    dark() {
      return this.$store.state.ui.dark;
    },
    title() {
      return this.$store.state.attr.title;
    },
  },
  props: {
    text: {
      type: String,
      default: 'login',
    },
    href: {
      type: String,
      default: '/',
    },
    expandMenu: {
      type: Function,
      required: true,
    },
  },
};
</script>
