<template>
  <fragment>
    <v-app-bar
      v-scroll="handleScroll"
      :class="{ fixed: fixed }"
      class="header"
      clipped-left
      fixed
      app
    >
      <div class="header-content">
        <nav class="nav-menu">
          <div class="logo">
            <a :href="link.home">
              <logo type="only" />
            </a>
          </div>
          <div class="main-menu" v-if="isDesktop && loaded">
            <header-menu :data-menu="dataMenu" />
          </div>
        </nav>
        <search-popup />
        <nav>
          <v-spacer
            v-if="isDesktop"
            class="vertical-divider"
          />
          <user-menu />
          <setting-menu />
        </nav>
      </div>
    </v-app-bar>
  </fragment>
</template>

<style lang="scss" scoped>
@import './header-style.scss';
</style>

<script>
import link from '~/api/text/link';
import menu from '~/api/menu';
import Logo from '../Logo';
import SearchPopup from '../Search/SearchPopup';
import UserMenu from './Menu/UserMenu';
import SettingMenu from './Menu/Settings';
import ListMenu from './Menu/ListMenu';

export default {
  components: {
    Logo,
    'header-menu': ListMenu,
    UserMenu,
    SettingMenu,
    SearchPopup,
  },
  data() {
    return {
      link,
      fixed: false,
      loaded: false,
      dataMenu: menu,
    };
  },
  mounted() {
    this.loaded = true;
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 100) {
        this.fixed = true;
      } else {
        this.fixed = false;
      }
    },
  },
  computed: {
    isTablet() {
      const { mdDown } = this.$store.state.breakpoints;
      return mdDown.indexOf(this.$mq) > -1;
    },
    isDesktop() {
      const { lgUp } = this.$store.state.breakpoints;
      return lgUp.indexOf(this.$mq) > -1;
    },
  },
};
</script>
