<template>
  <fragment>
    <basic v-if="type === 'basic' || !isDesktop" :expand-menu="expandMenu" />
    <drop-list v-if="type === 'droplist' && isDesktop" />
    <mega v-if="type === 'mega' && isDesktop" />
    <span />
  </fragment>
</template>

<script>
import Basic from './Basic';
import DropList from './DropList';
import Mega from './Mega';

export default {
  components: {
    Basic,
    DropList,
    Mega,
  },
  computed: {
    type() {
      return this.$store.state.ui.header;
    },
    isDesktop() {
      const lgUp = this.$store.state.breakpoints.lgUp;
      return lgUp.indexOf(this.$mq) > -1;
    },
  },
  props: {
    expandMenu: {
      type: Function,
      required: true,
    },
  },
};
</script>
