<template>
  <v-container :class="colorName + '-var'">
    <v-row>
      <v-col cols="12">
        <v-img
          :src="require('~/assets/images/logo.svg')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Rarungsing
        </h1>
        <h3>
          {{ $t('$vuetify.dataIterator.welcome-home') }}
        </h3>
        <div class="bg">
          <v-divider /><br />
          Direction:
          <v-btn color="accent" size="small" elevation="2" @click="setDirection('ltr')">LTR</v-btn>
          <v-btn color="accent" size="small" elevation="2" @click="setDirection('rtl')">RTL</v-btn>
          <v-divider /><br />
          <div class="d-flex align-center">
            Light
            <v-switch
              @change="setDark()"
              v-model="dark"
              color="accent"
            />
            Dark
            <v-btn @click="setDarkBtn()" icon outlined>
              <v-icon>mdi-invert-colors</v-icon>
            </v-btn>
          </div>
          <v-divider /><br />
          <setting />
          <v-divider /><br />
          Color:
          <v-btn size="small" color="light-blue" @click="changeColor('ocean')">Blue</v-btn>
          <v-btn size="small" color="teal" @click="changeColor('money')">Green</v-btn>
          <v-btn size="small" color="amber" @click="changeColor('cloud')">Yellow</v-btn>
        </div>
      </v-col>

    </v-row>
  </v-container>
</template>

<style lang="scss" scoped>
  .bg {
    background: $palette-secondary-light;
    color: $palette-primary-main;
  }
</style>

<script>
import Setting from './Setting';

let themeType = 'light';
if (typeof Storage !== 'undefined') {
  themeType = localStorage.getItem('webfoTheme') || 'light';
}

export default {
  name: 'HelloWorld',
  components: {
    Setting,
  },
  data() {
    return {
      dark: themeType === 'dark',
      colorName: 'ocean',
    };
  },
  methods: {
    setDark() {
      localStorage.setItem('webfoTheme', this.dark ? 'dark' : 'light');
      this.$vuetify.theme.dark = this.dark;
    },
    setDarkBtn() {
      this.dark = !this.dark;
      this.setDark();
    },
    setDirection(dir) {
      this.$vuetify.rtl = dir === 'rtl';
      document.dir = dir;
    },
    changeColor(color) {
      this.colorName = color;
    },
  },
  computed: {
    currentRouteName() {
      return this.$route.path;
    },
  },
};
</script>
