<template>
  <fragment>
    <sidebar-list
      v-if="type === 'list'"
      :collapsed="!expandSidebar"
      :userAttr="user"
    />
    <sidebar-big
      v-if="type === 'big'"
      :collapsed="!expandSidebar"
      :userAttr="user"
    />
    <span />
  </fragment>
</template>

<script>
import user from '~/api/user';
import SidebarList from './List/SidebarList';
import SidebarBig from './Big/SidebarBig';

export default {
  components: {
    SidebarList,
    SidebarBig,
  },
  data() {
    return {
      user,
    };
  },
  props: {
    collapsed: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    type() {
      return this.$store.state.ui.sidebar;
    },
    expandSidebar() {
      return this.$store.state.ui.expandSidebar;
    },
  },
};
</script>
