<template>
  <div class="sidebar-big-container">
    <v-navigation-drawer
      mini-variant
      mini-variant-width="105"
      permanent
      class="category"
    >
      <menu-profile :user-attr="userAttr" />
      <v-list
        dense
        nav
      >
        <template v-for="(item, index) in dataMenu">
          <v-list-item
            v-if="item.child"
            :key="item.key"
            :class="{ active: getIndex === index }"
            link
            ripple
            class="menu-head"
            @click="handleLoadMenu(index)"
          >
            <v-list-item-action>
              <v-icon class="icon">{{ 'mdi-' + item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content class="text">
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            v-else
            :key="item.key"
            :class="{ active: getIndex === index }"
            :to="item.linkParent"
            link
            ripple
            class="menu-head"
            @click="handleCloseMenu(index)"
          >
            <v-list-item-action>
              <v-icon class="icon">{{ 'mdi-' + item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content class="text">
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-list
      v-if="getIndex > -1"
      :class="[collapsed && 'collapsed', 'list-menu']"
    >
      <div :class="[{ 'menu-loaded': menuLoaded }, 'child-menu-wrap']">
        <template v-for="item in dataMenu[getIndex].child">
          <v-list-item v-if="item.title" :key="item.key">
            <v-subheader class="title" v-text="item.name" />
          </v-list-item>
          <v-list-item
            :key="item.key"
            v-else
            :to="item.link"
            :class="item.root && rootLink(item.link)"
            link
            class="item"
          >
            <v-list-item-icon>
              <v-icon class="icon">{{ 'mdi-' + item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content class="text">
              <v-list-item-title v-text="item.name" />
            </v-list-item-content>
          </v-list-item>
        </template>
      </div>
    </v-list>
  </div>
</template>

<style lang="scss" scoped>
@import './sidebar-big-style.scss'
</style>

<script>
import menu from '~/api/menu';
import MenuProfile from './MenuProfile';

export default {
  components: {
    MenuProfile,
  },
  data() {
    return {
      dataMenu: menu,
      currentCategory: undefined,
      menuLoaded: true,
    };
  },
  methods: {
    handleLoadMenu(idx) {
      // Open menu list
      if (this.isDesktop) {
        this.$store.dispatch('setExpanded', true);
      }

      // Load menu list
      this.getIndex = idx;
      this.menuLoaded = false;
      setTimeout(() => {
        this.menuLoaded = true; // load transtion menu
      }, 100);
    },
    handleCloseMenu(idx) {
      // Close menu list
      this.getIndex = idx;
      this.$store.dispatch('setExpanded', false);
    },
    rootLink(link) {
      const fullPath = this.$route.path;
      if (fullPath !== link) {
        return 'root';
      }
      return '';
    },
  },
  computed: {
    getIndex: {
      get() {
        if (this.currentCategory > -1) {
          return this.currentCategory;
        }
        return menu.findIndex((m) => m.key === this.$store.state.attr.category);
      },
      set(val) {
        this.currentCategory = val;
      },
    },
    isDesktop() {
      const lgUp = this.$store.state.breakpoints.lgUp;
      return lgUp.indexOf(this.$mq) > -1;
    },
  },
  props: {
    collapsed: {
      type: Boolean,
      default: false,
    },
    userAttr: {
      type: Object,
      default: null,
    },
  },
};
</script>
