<template>
  <v-list-item class="px-2">
    <v-list-item-avatar v-ripple class="avatar">
      <v-menu>
        <template v-slot:activator="{ on, attrs }">
          <div class="avatar-head" v-on="on" v-bind="attrs">
            <v-img :src="userAttr.avatar" :alt="userAttr.name" />
          </div>
        </template>
        <v-list tag="ul" class="status-menu">
          <v-list-item tag="li" class="profile">
            <v-list-item-avatar size="40">
              <v-img
                :src="userAttr.avatar"
                :alt="userAttr.name"
                class="avatar"
              />
            </v-list-item-avatar>
            <div class="options">
              <h4>{{ userAttr.name }}</h4>
              <i :class="['dot-status', currentStatus]" />
              {{ currentStatus }}
            </div>
          </v-list-item>
          <v-list-item
            v-for="(item, index) in statusList"
            :key="index"
            @click="changeStatus(item)"
            tag="li"
          >
            <v-list-item-title>
              <i :class="['dot-status', item]" />
              {{ item }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <i :class="['dot-status', 'pinned', currentStatus]" />
    </v-list-item-avatar>
  </v-list-item>
</template>

<style lang="scss" scoped>
@import './sidebar-big-style.scss'
</style>

<script>
export default {
  data() {
    return {
      currentStatus: 'online',
      statusList: ['online', 'idle', 'bussy', 'offline'],
    };
  },
  methods: {
    changeStatus(status) {
      this.currentStatus = status;
    },
  },
  props: {
    userAttr: {
      type: Object,
      default: null,
    },
  },
};
</script>
