.big-sidebar {
  &.v-navigation-drawer {
    background: none;
  }
  &.mobile {
    padding-top: $spacing7;
    @include palette-background-paper;
  }
  :deep(.v-navigation-drawer__border) {
    display: none
  }
  :deep(.v-list-item__action:first-child) {
    margin: 0 auto;
  }
  :deep(.v-navigation-drawer--mini-variant .v-list-item > div:not(:first-child)) {
    position: relative !important;
    width: auto;
    height: auto;
  }
  :deep(.v-navigation-drawer__content) {
     &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 12px;
      background-color: rgba(0,0,0,0);
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.3);
        border: 1px solid rgba(255,255,255,0.4);
      }
    }
  }
  .sidebar-big-container {
    overflow: hidden;
    height: 100%;
    flex-wrap: nowrap;
    display: flex;
  }
}

.avatar {
  &.v-avatar {
    overflow: visible;
    margin: 0 auto;
  }
  &-head {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.category {
  visibility: visible !important;
  transform: none !important;
  background: none;
  :deep(.v-navigation-drawer__content) {
    padding-top: $spacing2
  }
}

.menu-head {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $spacing1;
  margin-bottom: $spacing1 !important;
  border-radius: 4px;
  min-height: 0;
  :deep(.v-ripple__container) {
    clip: auto;
    width: 100%;
    height: 100%;
  }
  &.active {
    &:before {
      content: '';
      position: absolute;
      opacity: 1;
      width: 5px;
      height: 68px;
      border-radius: 5px;
      top: 0;
      transition: none;
      @include left($spacing1 * -1);
      background: $palette-primary-main;
    }
    .icon, .text {
      color: $palette-primary-main !important;
    }
  }
  .text {
    padding: 0;
    :deep(.v-list-item__title) {
      font-size: 12px;
    }
  }
  .icon {
    @include palette-text-secondary;
    opacity: 0.86;
    display: block;
    margin-bottom: $spacing1;
    font-size: 32px;
  }
}

.list-menu {
  overflow: auto;
  height: calc(100vh - 64px);
  width: 190px;
  flex: 1;
  @include margin-right($spacing1);
  .v-list-item {
    justify-content: flex-start;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(0,0,0,0);
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,0.3);
      border: 1px solid rgba(255,255,255,0.4);
    }
  }
  &.collapsed {
    width: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    .child-menu-wrap {
      width: 0;
      overflow: hidden;
    }
  }
  & > ul {
    padding-left: $spacing2;
    padding-right:$spacing1;
    padding-bottom:$spacing8;
    margin-left: $spacing1;
  }
  .icon {
    @include palette-text-secondary();
    opacity: 0.32;
    font-size: 14px;
  }
  .text {
    padding: 0;
    position: relative !important;
    height: auto !important;
    width: auto !important;
    div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      font-size: 14px;
    }
  }
  .item {
    border-radius: 4px;
    overflow: hidden;
    text-align: left;
    padding: $spacing1;
    margin: spacing(1, 0);
    min-height: 0;
    & > div:first-of-type {
      margin: spacing(0, 1);
      min-width: auto;
    }
    &:before {
      opacity: 0
    }
    &.active:not(.root), &.v-list-item--active:not(.root) {
      &:before {
        opacity: 0.8;
        @include use-theme(background-color, $palette-secondary-light, $palette-secondary-dark);
      }
      .v-list-item__content {
        position: relative;
      }
      .icon {
        @include use-theme(color, $palette-secondary-dark, $palette-secondary-light);
      }
      .text {
        position: relative;
        span {
          @include use-theme(color, $palette-secondary-light, $palette-secondary-dark);
        }
      }
      &:hover {
        @include use-theme(background-color, $palette-secondary-light, $palette-secondary-dark);
      }
      &:focus {
        @include use-theme(background-color, $palette-secondary-light, $palette-secondary-dark);
      }
    }
  }
}

.child-menu-wrap {
  opacity: 0;
  transform: translateX(-5px);
  padding: spacing(1, 0);
  margin: spacing(0, 1, 0, 0);
  & > div:first-child {
    .title {
      margin-top: 0
    }
  }
  &.menu-loaded {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.2s ease-out;
  }
}

.title {
  padding: 0;
  font-size: 10px !important;
  text-transform: uppercase;
  margin-top: $spacing2;
  display: block;
  color: $palette-secondary-main;
  line-height: 28px;
  height: auto;
  font-weight: bold
}

.profile {
  width: 100%;
  display: flex;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  align-items: center;
  top: 0;
  z-index: 0;
  border-bottom: 1px solid;
  @include palette-background-default;
  @include palette-divider;
  &:after {
    display: none
  }
  .options {
    text-align: left
  }
}

.big-avatar {
  width: 80px;
  height: 80px;
}

.status-menu {
  width: 180px;
  padding: 0;
  margin: 0;
  li {
    text-transform: capitalize;
  }
}

.dot-status {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 4px;
  &.online {
    background-color: material-color('light-green', '500');
  }
  &.bussy {
    background-color: material-color('red', '500');
  }
  &.idle {
    background-color: material-color('amber', '500');
  }
  &.offline {
    background-color: material-color('grey', '500');
  }
  &.pinned {
    left: 30px;
    bottom: 3px;
    position: absolute;
  }
}
