<template>
  <fragment>
    <v-navigation-drawer
      v-if="isDesktop"
      :mini-variant="collapsed"
      :mini-variant-width="105"
      :width="290"
      permanent
      clipped
      app
      class="big-sidebar"
    >
      <menu-big :collapsed="collapsed" :user-attr="userAttr" />
    </v-navigation-drawer>
    <v-navigation-drawer
      v-else
      :right="this.$vuetify.rtl"
      @transitionend="toggleOpen"
      v-model="open"
      temporary
      class="big-sidebar mobile"
      absolute
    >
      <menu-big :collapsed="false" :user-attr="userAttr" />
    </v-navigation-drawer>
  </fragment>
</template>

<style lang="scss" scoped>
@import './sidebar-big-style.scss'
</style>

<script>
import MenuBig from './Menu';

export default {
  components: {
    MenuBig,
  },
  data() {
    return {
      openLocal: false
    }
  },
  methods: {
    toggleOpen(e) {
      const overlay = document.getElementsByClassName('v-overlay--active');
      if(overlay.length <= 0) {
        this.$store.dispatch('setExpanded', true);
      }
    }
  },
  computed: {
    isDesktop() {
      const lgUp = this.$store.state.breakpoints.lgUp;
      return lgUp.indexOf(this.$mq) > -1;
    },
    open: {
      get: function () {
        return this.collapsed;
      },
      set: function () {}
    },
  },
  props: {
    collapsed: {
      type: Boolean,
      default: false,
    },
    userAttr: {
      type: Object,
      default: null,
    },
  },
};
</script>
