<template>
  <footer class="footer">
    <v-container class="fixed-width">
      <v-row class="spacing6">
        <v-col
          class="pa-6"
          md="5"
          cols="12"
        >
          <logo type="landscape" />
          <p class="footer-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="quick-links">
            <h6 class="title-nav mb-2">
              {{ $t('$vuetify.common.footer_link') }}
            </h6>
            <ul>
              <li
                v-for="(item, index) in footer.description"
                :key="item"
              >
                <router-link :to="footer.link[index]">
                  {{ item }}
                </router-link>
              </li>
            </ul>
          </div>
        </v-col>
        <v-col
          class="py-md-0 pa-6"
          md="4"
          cols="12"
        >
          <v-btn
            v-for="(item, index) in news"
            :key="index"
            text     
            class="blog-item"
            href="#"
          >
            <span class="figure">
              <img :src="item.img" alt="thumb" />
            </span>
            <span class="list-text">
              <span class="category">
                {{ $t('$vuetify.common.footer_news') }}
              </span>
              <span class="content">
                Sed imperdiet enim ligula vitae viverra.
              </span>
            </span>
          </v-btn>
        </v-col>
        <v-col
          md="3"
          cols="12"
          class="py-md-0 px-8 py-6"
        >
          <div class="socmed">
            <v-btn
              text
              icon
              class="button"
            >
              <span class="ion-logo-twitter icon" />
            </v-btn>
            <v-btn
              text
              icon
              class="button"
            >
              <span class="ion-logo-facebook icon" />
            </v-btn>
            <v-btn
              text
              icon
              class="button"
            >
              <span class="ion-logo-instagram icon" />
            </v-btn>
            <v-btn
              text
              icon
              class="button"
            >
              <span class="ion-logo-linkedin icon" />
            </v-btn>
          </div>
          <v-select
            :items="langList"
            :value="lang"
            v-model="lang"
            label=""
            outlined
            class="select-lang"
            prepend-inner-icon="mdi-web"
            @change="switchLang(lang)"
          />
          <p class="body-2">
            &copy;&nbsp;
            {{ brand.footerText }}
          </p>
        </v-col>
      </v-row>
    </v-container>
  </footer>
</template>

<style scoped lang="scss">
@import './footer-blog';
</style>

<script>
import img from '~/api/images/imgAPI'
import brand from '~/api/text/brand'
import i18n from '~/plugins/i18n';
import Logo from '../Logo'

function addReplaceLangCode(url, langCode) {
  const a = document.createElement('a');
  a.href = url;

  const paths = a.pathname.split('/');
  paths.shift();

  if (paths[0].length === 2) {
    paths[0] = langCode;
  } else {
    paths.unshift(langCode);
  }
  // eslint-disable-next-line
  return '/' + paths.join('/') + (a.search != '' ?  a.search : '') + (a.hash != '' ?  a.hash : '');
}

export default {
  components: {
    Logo
  },
  data: () => ({
    lang: 'en',
    brand: brand,
    footer: {
      title: 'Quick Links',
      description: ['Resource', 'Another resource', 'Final resource', 'Privacy policy', 'Terms of use', 'Terms Condition'], // eslint-disable-line
      link: ['#', '#', '#', '#', '#', '#'] // eslint-disable-line
    },
    news: [
      {
        type: 'news',
        text: 'Sed imperdiet enim ligula vitae viverra.',
        img: img.photo[4]
      },
      {
        type: 'news',
        text: 'Sed imperdiet enim ligula vitae viverra.',
        img: img.photo[1]
      },
      {
        type: 'news',
        text: 'Sed imperdiet enim ligula vitae viverra.',
        img: img.photo[3]
      }
    ]
  }),
  computed: {
    langList: function() {
      const list = []
      const i18n = this.$vuetify.lang.locales;
      Object.entries(i18n).map(([locale]) => {
        list.push({ text: this.$t('$vuetify.common.' + locale), value: locale })
      })
      return list
    },
    currentRouteName() {
      return this.$route.path;
    },
  },
  mounted() {
    this.lang = this.$i18n.locale
  },
  methods: {
    switchLang: function(locale) {
      const newRoute = addReplaceLangCode(this.currentRouteName, locale);
      console.log(newRoute);
      this.$router.replace({ path: newRoute });
      i18n.locale = locale;

      // Set RTL
      if (locale === 'ar') {
        this.$vuetify.rtl = true;
        document.dir = 'rtl';
      } else {
        this.$vuetify.rtl = false;
        document.dir = 'ltr';
      }

      // Save language to local storage
      if (localStorage) {
        localStorage.setItem('currentLang', locale);
      }
    }
  }
}
</script>
