<template>
  <fragment>
    <blog v-if="type === 'blog'" />
    <site-map v-if="type === 'sitemap'" />
  </fragment>
</template>

<script>
import Blog from './Blog'
import SiteMap from './SiteMap'

export default {
  components: {
    Blog,
    SiteMap
  },
  computed: {
    type() {
      return this.$store.state.ui.footerLanding
    }
  }
}
</script>
