<template>
  <fragment>
    <v-btn icon @click.stop="dialog = true">
      <v-icon>mdi-magnify</v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      transition="dialog-bottom-transition"
      max-width="600"
    >
      <template>
        <v-card class="popup-search">
          <v-card-actions class="justify-end mobile-stepper">
            <div class="search">
              <v-autocomplete
                v-model="model"
                :items="items"
                :loading="isLoading"
                :search-input.sync="search"
                outlined
                single-line
                hide-details
                hide-selected
                item-text="name"
                item-value="key"
                append-icon=""
                label="Search UI"
              >
                <template v-slot:no-data>
                  <v-list-item>
                    <v-list-item-title>
                      Search UI
                    </v-list-item-title>
                  </v-list-item>
                </template>
                <template v-slot:item="{ item }">
                  <v-list-item :to="item.link">
                    <v-list-item-title v-text="item.name" />
                  </v-list-item>
                </template>
              </v-autocomplete>
              <v-icon class="search-icon">mdi-magnify</v-icon>
            </div>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
  </fragment>
</template>

<style lang="scss" scoped>
@import './search-style.scss';
</style>

<script>
import suggestionsApi from '~/api/menu';

export default {
  data() {
    return {
      dialog: false,
      isLoading: false,
      items: [],
      model: null,
      search: null,
      select: null,
    };
  },
  watch: {
    search(val) {
      return val && val !== this.select && this.querySelections(val);
    },
  },
  methods: {
    querySelections(v) {
      this.loading = true;
      setTimeout(() => {
        this.items = this.menu.filter((e) => { // eslint-disable-line
          return (e.name || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1;
        });
        this.loading = false;
      }, 500);
    },
  },
  computed: {
    menu() {
      const arrMenu = [];
      suggestionsApi.map((item) => {
        if (item.child) {
          item.child.map((itemChild) => {
            if (itemChild.link) {
              arrMenu.push(itemChild);
            }
            return arrMenu;
          });
        }
        return arrMenu;
      });
      return arrMenu;
    },
  },
};
</script>
