/* Search */
.search {
  position: relative;
  display: flex;
  @include margin-left($spacing2);
  @include margin-right($spacing2);
  @include breakpoints-down(xs) {
    margin-bottom: $spacing2;
  }
  align-items: center;
  :deep(fieldset) {
    height: 46px;
  }
  :deep(.v-text-field--outlined .v-label) {
    top: $spacing1;
  }
  :deep(.v-text-field > .v-input__control > .v-input__slot) {
    @include padding-right($spacing2);
    min-height: 0;
    margin-bottom: 0;
    @include padding-left($spacing8);
    padding-top: 4px;
    padding-bottom: 4px;
    @include use-theme(background, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
    fieldset {
      border-color: transparent;
    }
    input {
      max-height: none;
      padding: spacing(1, 0);
      width: 120px;
      transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      &:focus {
        width: 200px;
      }
    }
  }
  :deep(.v-text-field__details) {
    display: none;
  }
}

.popup-search {
  .search {
    width: 100%;
  }
}

.search-icon {
  &.v-icon {
    position: absolute;
    top: 12px;
    @include left($spacing2);
  }
}