.breadcrumbs {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  :deep(.v-breadcrumbs__item:not(.)) {
    color: $palette-secondary-main
  }
  ul {
    padding: 0;
    @include margin-left($spacing1);
    text-transform: capitalize;
  }
}