<template>
  <div class="breadcrumbs">
    You are here:
    <v-breadcrumbs
      :items="pageNav"
      small
    />
  </div>
</template>

<style lang="scss" scoped>
@import './breadcrumbs-style.scss';
</style>

<script>
export default {
  computed: {
    pageNav() {
      const fullPath = this.$route.path;
      const navArr = fullPath.split("/").slice(1);
      return navArr.map((link, index) => {
        return {
          text: link,
          href: '/' + link,
          disabled: index >= navArr.length - 1
        }
      });
    }
  }
};
</script>
