<template>
  <v-app class="app">
    <v-main>
      <main-header />
      <router-view></router-view>
      <main-footer />
    </v-main>
  </v-app>
</template>

<script>
import Header from '~/components/Landing/Header'
import Footer from '~/components/Landing/Footer'

export default {
  name: 'Corporate',
  components: {
    'main-header': Header,
    'main-footer': Footer,
  }
};
</script>
