<template>
  <v-app class="app app-frame-inner">
    <main-header :expand-menu="handleCollapsed"/>
    <sidebar v-if="isNavSidebar || !isDesktop"/>
    <v-main class="content">
      <section class="main-wrap sidebar-layout">
        <div class="page-title">
          <h4>{{ title }}</h4>
          <breadcrumbs />
        </div>
        <router-view></router-view>
      </section>
    </v-main>
  </v-app>
</template>

<style lang="scss" scoped>
@import './dashboard-style.scss';
</style>

<script>
import MainHeader from '~/components/Header';
import Sidebar from '~/components/Sidebar';
import Breadcrumbs from '~/components/Breadcrumbs';

export default {
  name: 'HelloWorld',
  components: {
    MainHeader,
    Sidebar,
    Breadcrumbs
  },
  data: () => ({
    ecosystem: [
      {
        text: 'vuetify-loader',
        href: 'https://github.com/vuetifyjs/vuetify-loader',
      },
      {
        text: 'github',
        href: 'https://github.com/vuetifyjs/vuetify',
      },
      {
        text: 'awesome-vuetify',
        href: 'https://github.com/vuetifyjs/awesome-vuetify',
      },
    ],
    importantLinks: [
      {
        text: 'Documentation',
        href: 'https://vuetifyjs.com',
      },
      {
        text: 'Chat',
        href: 'https://community.vuetifyjs.com',
      },
      {
        text: 'Made with Vuetify',
        href: 'https://madewithvuejs.com/vuetify',
      },
      {
        text: 'Twitter',
        href: 'https://twitter.com/vuetifyjs',
      },
      {
        text: 'Articles',
        href: 'https://medium.com/vuetify',
      },
    ],
    whatsNext: [
      {
        text: 'Explore components',
        href: 'https://vuetifyjs.com/components/api-explorer',
      },
      {
        text: 'Select a layout',
        href: 'https://vuetifyjs.com/getting-started/pre-made-layouts',
      },
      {
        text: 'Frequently Asked Questions',
        href: 'https://vuetifyjs.com/getting-started/frequently-asked-questions',
      },
    ],
  }),
  methods: {
    handleCollapsed() {
      const sidebarState = !this.$store.state.ui.expandSidebar;
      this.$store.dispatch('setExpanded', sidebarState);
    },
  },
  computed: {
    isNavSidebar() {
      return this.$store.state.ui.header === 'basic';
    },
    isDesktop() {
      const lgUp = this.$store.state.breakpoints.lgUp;
      return lgUp.indexOf(this.$mq) > -1;
    },
    title() {
      return this.$store.state.attr.title;
    }
  },
};
</script>
