@mixin app-frame {
  display: flex;
  width: 100%;
  min-height: 100%;
  z-index: 1
}

.app-frame-inner {
  @include app-frame;
  @include palette-background-paper;
  @include palette-text-primary
}

.sidenav {
  flex-direction: row
}

.content {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include breakpoints-down('md') {
    padding-left: $spacing1;
    padding-right: $spacing1;
  }
}

.content-padding-left {
  @include padding-left($spacing10);
  @include padding-right($spacing2);
}

.main-wrap {
  height: 100%;
  position: relative;
  padding-right: $spacing2;
  & > div {
    will-change: inherit !important // hack for floating form issue when expaded
  }
  &.sidebar-layout {
    padding-top: $spacing1
  }
  &.topbar-layout {
    margin-top: $spacing3
  }
}

.page-title {
  padding-top: $spacing1;
  padding-bottom: $spacing3;
  width: 100%;
  @include breakpoints-up('lg') {
    display: flex;
    align-items: flex-end;
    justify-content: space-between
  }
  h4 {
    font-weight: $font-bold;
    font-size: 32px;
    @include padding-right($spacing1);
    text-transform: capitalize;
    @include use-theme(color, $palette-primary-dark, $palette-secondary-light);
    @include breakpoints-down('md') {
      margin-bottom: $spacing3
    }
  }
}