<template>
  <v-app class="app">
    <v-main>
      <basic-header :text="linkText" :href="href" />
      <router-view v-on:childinit="onChildInit"></router-view>
      <main-footer />
    </v-main>
  </v-app>
</template>

<script>
import Header from '~/components/Landing/Header/Basic'
import Footer from '~/components/Landing/Footer'

export default {
  name: 'Outer',
  data() {
    return {
      linkText: '',
      href: ''
    }
  },
  components: {
    'basic-header': Header,
    'main-footer': Footer,
  },
  methods: {
    onChildInit( value ){
      this.linkText = value.text;
      this.href = value.href;
    }
  },
};
</script>
