<template>
  <v-app class="cloud">
    <router-view/>
  </v-app>
</template>

<style lang="scss">
@import '~/assets/scss/root.scss';
@import '~/assets/vendors/animate.css';
@import '~/assets/vendors/animate-extends.css';
@import '~/assets/vendors/hamburger-menu.css';
@import '~/assets/vendors/slick-carousel/slick.css';
@import '~/assets/vendors/slick-carousel/slick-theme.css';
</style>

<script>
export default {
  name: 'App',
  mounted() {
    if (typeof Storage !== 'undefined') {
      if (localStorage.getItem('currentLang') === 'ar' || this.$i18n.locale === 'ar') {
        document.dir = 'rtl';
        this.$vuetify.rtl = true;
      } else {
        document.dir = 'ltr';
        this.$vuetify.rtl = false;
      }
    }
  },
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: 'Default Title',
    // all titles will be injected into this template
    titleTemplate: '%s | My Awesome Webapp',
  },
};
</script>
