<template>
  <v-row justify="center">
    <v-col cols="12" md="6">
      <div class="mb-5">
        <v-btn color="primary" class="me-2" @click="initData">Load Sample Data</v-btn>
        <v-btn text color="primary" @click="clearData">Clear Data</v-btn>
      </div>
      <FormulateForm
        class="login-form"
        v-model="formValues"
        @submit="showAlert"
      >
        <h2 class="form-title">Register</h2>
        <p>
          You can place any elements you want inside a form. The inputs themselves
          can even be deeply nested.
        </p>
        <div class="mb-5">
          <FormulateInput
            name="name"
            type="mtext"
            mlabel="Your name"
            validation="required"
          />
        </div>
        <div class="mb-5">
          <FormulateInput
            name="email"
            type="mtext"
            mlabel="Email address"
            input-type="email"
            validation="required|email"
            :validation-messages="{
              required: 'Ini perlu',
              email: 'nulis email yg bener...'
            }"
          />
        </div>
        <div class="mb-5">
          <FormulateInput
            name="password"
            type="mtext"
            mlabel="Password"
            input-type="password"
            validation="required"
          />
        </div>
        <div class="mb-5">
          <FormulateInput
            name="select"
            type="mselect"
            mlabel="Select an option"
            :options="['Foo', 'Bar', 'Fizz', 'Buzz']"         
          />
        </div>
        <div>
          <v-row>
            <v-col cols="6">
              <FormulateInput
                name="check"
                type="mcheck"
                mlabel="Check"
              />
            </v-col>
            <v-col cols="6">
              <FormulateInput
                name="switch"
                type="mswitch"
                mlabel="Switch"
              />
            </v-col>
          </v-row>
        </div>
        <div class="mb-5">
          <v-row>
            <v-col cols="6">
              <FormulateInput
                name="radio"
                type="mradio"
                :options="radioOptions"
              />
            </v-col>
            <v-col cols="6">
              <FormulateInput
                type="group"
                name="group"
              >
                <FormulateInput
                  name="option1"
                  type="mcheck"
                  mlabel="Option 1"
                />
                <FormulateInput
                  name="option2"
                  type="mcheck"
                  mlabel="Option 2"
                />
                <FormulateInput
                  name="option3"
                  type="mcheck"
                  mlabel="Option 3"
                />
                <FormulateInput
                  name="option4"
                  type="mcheck"
                  mlabel="Option 4"
                />
              </FormulateInput>
            </v-col>
          </v-row>
        </div>
        <div class="mb-5">
          <FormulateInput
            name="textarea"
            type="mtextarea"
            mlabel="Your message"
          />
        </div>
        <div class="my-10">
          <FormulateInput
            type="mbutton"
            mlabel="Register"
            btn-type="submit"
            color="secondary"
          />
        </div>
        <pre
          class="code"
          v-text="formValues"
        />
      </FormulateForm>
    </v-col>
  </v-row>
</template>

<style scoped lang="scss">
@import './form-style.scss';
</style>

<script>
const frmInit = {
  name: 'John Doe',
  email: 'john.doe@mail.com',
  password: '12345678',
  switch: true,
  check: true,
  select: 'Bar',
  radio: 'option 3',
  group: [{
    option1: true,
    option3: true,
  }],
  textarea: 'Just register to join with us. A platform with efficient integration of many features and so much more. Just register to join with us. A platform with efficient integration of many features and so much more. Just register to join with us. A platform with efficient integration of many features and so much more',
}

export default {
  data () {
    return {
      formValues: {},
      radioOptions: [
        {
          label: 'Option 1',
          value: 'option 1'
        },
        {
          label: 'Option 2',
          value: 'option 2'
        },
        {
          label: 'Option 3',
          value: 'option 3'
        },
        {
          label: 'Option 4',
          value: 'option 4'
        },
      ]
    }
  },
  methods: {
    showAlert() {
      alert(JSON.stringify(this.formValues))
    },
    initData() {
      this.formValues = frmInit
    },
    clearData() {
      this.formValues = {}
    }
  }
}
</script>